<!DOCTYPE html>
<html lang="en">
<title>Smart To Smart Replacement</title>
<link rel="stylesheet" href="{{ url_for('static', filename='StylePage.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/w3css.css') }}">
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="description">
<meta content="" name="keywords">
<script src="{{ url_for('static', filename='Pages.js') }}"></script>
<style>
    body {
        background-color: #37517e!important;
    }
    
    .btn {
        
        margin-top: 16px;
        margin-bottom: 16px;
        border: none;
        display: inline-block;
        padding: 8px 16px;
        vertical-align: middle;
        overflow: hidden;
        text-decoration: none;
        color: inherit;
        background-color: inherit;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
    }
</style>

<head>

    <!-- Favicons -->
    <link href="{{ url_for('static', filename='favicon.ico')}}" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link type="text/css" href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static',filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static',filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static',filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static',filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

     <script src="{{ url_for('static',filename='assets/js/jquery-3.5.1.min.js') }}"></script>

    <!-- Template Main CSS File -->
    <link type="text/css" href="{{ url_for('static',filename='assets/css/style.css') }}" rel="stylesheet">

</head>

<script>
$(document).ready(function(){
    $("select").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            if(optionValue){
                $(".box").not("." + optionValue).hide();
                $("." + optionValue).show();
            } else{
                $(".box").hide();
            }
        });
    }).change();
});

</script>
<script>
    function ckChange() {
     var checkedValue = null;
     var Meter = document.getElementById("Meter");
     var DCU = document.getElementById("DCU");
     var ECB = document.getElementById("ECB");
     var CM = document.getElementById("CM");
  
     CM.disabled = false;
     ECB.disabled = false;
     Meter.disabled = false;
     DCU.disabled = false;
   
 if (Meter.checked == true && (DCU.checked == true || ECB.checked == true || CM.checked == true)) {
         var inputElements = document.querySelectorAll('input[type="checkbox"]:not(:checked)');
         for (var i = 0; i < inputElements.length; ++i) {
                 inputElements[i].disabled = true;
         }
     }
 
     if (DCU.checked == true || ECB.checked == true || CM.checked == true) {
         var inputElements = document.querySelectorAll('input[type="checkbox"]:not(:checked)');
         for (var i = 0; i < inputElements.length; ++i) {
             if (inputElements[i].id != "Meter") {
                 inputElements[i].disabled = true;
             }
         }
 
         
     }
 
 }
 </script>
    	
<script type="text/javascript">

    function disableBack(){window.history.forward();}

    setTimeout("disableBack()",0);

    window.onunload=function(){null};

</script>
</head>
<body>
    
      
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">
            <h1 class="logo me-auto"><a href="/">ALFANAR</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="/">Home</a></li>
                    <!-- <li><a class="nav-link scrollto" href="">Login</a></li> -->
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->
        </div>
    </header>
    <!-- End Header -->

   <!-- ======= Hero Section ======= -->
   <section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
               
                <h3 style="color: rgb(255, 255, 255);">{{ UserName }}</h3>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <div class="container" data-aos="fade-up">
                        <div id="Form2">
                            <form action="../bm/create" method="POST">
                               
                                <label for="PNum" style="color: white;">Premise Number:</label>
                                <input class="w3-input w3-border" type="text" placeholder="" required name="PNum" i d="PNum" style="font-weight: bold; text-align: center;" value="{{ PremiseNumber }}" readonly> </input>
                                {% if  (DCUReq == 'Y' ) %} 
                                <label for="DCUSerialNumber" style="color: white;">DCU Serial Number</label>
                                <input class="w3-input w3-border" type="text" placeholder="" required name="DCUSerialNumber" id="DCUSerialNumber" style="font-weight: bold; text-align: center;" value="{{ DCUSerialNumber }}" readonly> </input>
                                <label for="MNum" style="color: white;">TMUCT Meter Number:   {{ALFMeter|safe}}  </label>   
                                <input class="w3-input w3-border" type="text" placeholder="" required name="MNum" id="MNum" style="font-weight: bold; text-align: center;" value="{{ MeterNumber }}" readonly> </input>
                                <label for="office2" style="color: white;">Office</label>
                                <input class="w3-input w3-border" type="text" placeholder="" required name="office2" id="office2" style="font-weight: bold; text-align: center;" value="{{ Office }}" readonly> </input>
                                



                                <label for="TransformerID" style="color: white;">Transformer ID</label>
                                <input class="w3-input w3-border" type="text" placeholder="" required name="TransformerID" id="TransformerID" style="font-weight: bold; text-align: center;" value="{{ TransformerID }}" readonly> </input>
                                <label for="TransformerRating" style="color: white;">Transformer Rating</label>
                                <input class="w3-input w3-border" type="text" placeholder="" required name="TransformerRating" id="TransformerRating" style="font-weight: bold; text-align: center;" value="{{ TransformerRating }}" readonly> </input>
                                <!-- <label for="PowerConnected" style="color: white;">Power Connected</label>
                                <input class="w3-input w3-border" type="text" placeholder="" required name="PowerConnected" id="PowerConnected" style="font-weight: bold; text-align: center;" value="{{ PowerConnected }}" readonly> </input> -->
                                <!-- <label for="PowerConnectionDate" style="color: white;">Power Connection Date</label>
                                <input class="w3-input w3-border" type="text" placeholder="" required name="PowerConnectionDate" id="PowerConnectionDate" style="font-weight: bold; text-align: center;" value="{{ PowerConnectionDate }}" readonly> </input> -->
                                <!-- <label for="PowerStatusUpdatedBy" style="color: white;">Power Status Updated By</label>
                                <input class="w3-input w3-border" type="text" placeholder="" required name="PowerStatusUpdatedBy" id="PowerStatusUpdatedBy" style="font-weight: bold; text-align: center;" value="{{ PowerStatusUpdatedBy }}" readonly> </input> -->
                                <label for="CTavailable" style="color: white;">CT available</label>
                                <input class="w3-input w3-border" type="text" placeholder="" required name="CTavailable" id="CTavailable" style="font-weight: bold; text-align: center;" value="{{ CTavailable }}" readonly> </input>
                                <!-- <label for="CTConnected" style="color: white;">CT Connected</label>
                                <input class="w3-input w3-border" type="text" placeholder="" required name="CTConnected" id="CTConnected" style="font-weight: bold; text-align: center;" value="{{ CTConnected }}" readonly> </input> -->
                                <label for="CTRatio" style="color: white;">CT Ratio</label>
                                <input class="w3-input w3-border" type="text" placeholder="" required name="CTRatio" id="CTRatio" style="font-weight: bold; text-align: center;" value="{{ CTRatio }}" readonly> </input>





                                <label for="MeterList" style="color: white;">Meter List</label>
                                <input  class="w3-input w3-border" type="text" placeholder="" required name="MeterList" id="MeterList" style="font-weight: bold; text-align: center; height: 100px;" value="{{ MeterList }}" readonly> </input>
                                {%else%}
                                <label for="MNum" style="color: white;">Meter Number:   {{ALFMeter|safe}}  </label>   
                                <input class="w3-input w3-border" type="text" placeholder="" required name="MNum" id="MNum" style="font-weight: bold; text-align: center;" value="{{ MeterNumber }}" readonly> </input>
                                <label for="office2" style="color: white;">Office</label>
                                <input class="w3-input w3-border" type="text" placeholder="" required name="office2" id="office2" style="font-weight: bold; text-align: center;" value="{{ Office }}" readonly> </input>
                                <label for="SSNum" style="color: white;">Subscription:</label>
                                <input class="w3-input w3-border" type="text" placeholder="" required name="SSNum" id="SSNum" style="font-weight: bold; text-align: center;" value="{{SubscriptionNumber}}" readonly></input>
                                <label for="long2" style="color: white;">BreakerCapacity</label>
                                <input class="w3-input w3-border" type="text" placeholder="" required name="BreakerCapacity" id="BreakerCapacity" style="font-weight: bold; text-align: center;" value="{{ BreakerCapacity }}" readonly> </input>
                                {% endif %}
                            
                            </br>
                                </br>
                               
                          
 </br>

 
 <div style="text-align: left;">
    <label style="color: white;">Device :</label>
</div>



{% if  (DCUReq == 'Y' ) %} 
<div style="text-align: left;">
    <input type="checkbox" name="DCU" id="DCU" value="Y" tabindex="1" onClick="ckChange()" checked/><label style="color: white;" > DCU</label>
</div>

{%else%}

<div style="text-align: left;">
    <input type="checkbox" name="Meter" id="Meter" value="Y" tabindex="1" onClick="ckChange()"  /><label style="color: white;"> Meter/TMU</label>
    <input type="checkbox" name="ECB" id="ECB" value="Y" tabindex="1" onClick="ckChange()" /> <label style="color: white;"> ECB</label>
    <input type="checkbox" name="CM" id="CM" value="Y" tabindex="1" onClick="ckChange()" /><label style="color: white;"> CM</label>
</div>
{% endif %}





<br>



  <div  Style="text-align: left;">
  <label  style="color: white;">Replacment Reason:</label></div>



  <div Style="text-align: left;color: white;">
    <select name="reasons">
        <option>Select Reason</option>
        {%for k in subreason.keys()%}
        <option name="{{k}}" id="{{k}}" value="{{k}}">{{k}}</option>
        {% endfor %}
        
    </select>
</div>
{%for k in subreason.keys()%}
    <div class="{{k}} box" Style="text-align: left;color: white;">
            {%for sk in subreason[k]%}
                <input type="radio" name="subreason" value="{{sk[0]}}" id="radio1">{{sk[0]}}<br>
            {% endfor %}
    </div>
{% endfor %}


                                 </br>

                               <a>
                                    <div style="text-align: center;">
                                    <button type="submit" class="btn btn-primary" style="width: 50%"><i  ></i><span> </span> Create</button>
                                    </div>
                               
                                </a>
                               

                            </form>
                        
                            
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="{{ url_for('static', filename='Image/hero-img.png') }}" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section>
<!-- End Hero -->

    <main id="main">



        <!-- ======= Footer ======= -->
        <footer id="footer">


            <div class="container footer-bottom clearfix">
                <div class="copyright">
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
                </div>



            </div>
        </footer>
        <!-- End Footer -->

        <div id="preloader"></div>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="{{ url_for('static',filename='assets/vendor/aos/aos.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/vendor/php-email-form/validate.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/vendor/waypoints/noframework.waypoints.js') }}"></script>

        <!-- Template Main JS File -->
        <script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>

</body>












</html>